<div class="custom-container">
  <div class="main-court mt-5">
    <div class="row " id="court" >
      <div class="col box d-flex align-items-center justify-content-center">
        Player 1
      </div>
      <div class="col box d-flex align-items-center justify-content-center">
        Player 2
      </div>
    </div>
    <div class="row" id="court" >
      <div class="col box d-flex align-items-center justify-content-center">
        Player 3
      </div>
      <div class="col box d-flex align-items-center justify-content-center">
        Player 4
      </div>
    </div>
  </div>

  <div class="score-board mt-3">
    <div class="row">
      <div class="col team1">
        Player 1 & Player 2
      </div>
      <div class="col team2">
        Player 3 & Player 4
      </div>
    </div>
    <div class="row">
      <div class="col playerscore1">
        <input class="scoreinput" type="text" placeholder="Input Score">
      </div>
      <div class="col playerscore2">
        <input class="scoreinput" type="text" placeholder="Input Score">
      </div>
    </div>
  </div>


</div>
