.box{
    color: white;
    background-color:#004322;
    border: solid 1px #71b93a;
  }

.team1{
  font-size: 0.7rem;
  text-align: end;
  font-weight: bold;
}

.team2{
  font-size: 0.7rem;
  text-align: start;
  font-weight: bold;
}

.playerscore1{
  font-size: 0.7rem;
  text-align: end;
  align-items: end;
  padding: 5px;
  width: 10%;
}

.playerscore1 input{
  font-size: 0.7rem;
  text-align: center;
  align-items: center;
  outline: none;
  border: 1px solid #428e22;
  border-radius: 2px;
  padding:4px;
}

.playerscore2{
  font-size: 0.7rem;
  text-align: start;
  align-items: start;
  padding: 5px;
  width: 10%;
}

.playerscore2 input{
  font-size: 0.7rem;
  text-align: center;
  align-items: center;
  outline: none;
  color: black;
  border: 1px solid #428e22;
  border-radius: 2px;
  padding:4px;
}

.header{
  height: 70px;
  background-color: #017a40;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color:white;
  font-weight: 600;
}

@media (max-width: 348px){
.custom-container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
  }
  .box{
    height: 12vh;
    width: 15vh;
  }
  .scoreinput{
    width: 7rem;
    height: 2rem;
  }

  .header{
    font-size: 18px;
  }
}


@media (min-width: 349px){
  .custom-container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    max-width: 320px;
  }

  .box{
    height: 12vh;
    width: 15vh;
  }

  .scoreinput{
    width: 7rem;
    height: 2rem;
  }

  .header{
    font-size: 20px;
  }
}

@media (min-width: 567px) {
  .custom-container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    max-width: 540px;
  }

  .box{
    height: 20h;
  }

  .scoreinput{
    width: 8rem;
    height: 2rem;
  }

  .header{
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .custom-container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    max-width: 720px;
  }

  .box{
    height: 20vh;
  }

  .scoreinput{
    width: 8rem;
    height: 2rem;
  }

  .header{
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .custom-container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    max-width: 960px;
  }

  .box{
    height: 20vh;
  }

  .scoreinput{
    width: 9rem;
    height: 2rem;
  }

  .header{
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .custom-container{
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
  }

  .box{
    height: 20vh;
  }

  .scoreinput{
    width: 9rem;
    height: 2rem;
  }

  .header{
    font-size: 40px;
  }
}
