<div class="header d-flex align-items-center justify-content-center">
  Badminton Queuing System
</div>
<div class="custom-container">
  <!-- Court -->
  <div class="main-court mt-3">
    <div class="row " id="court" >
      <div class="col box d-flex align-items-center justify-content-center">
        Player 1
      </div>
      <div class="col box d-flex align-items-center justify-content-center">
        Player 3
      </div>
    </div>
    <div class="row" id="court" >
      <div class="col box d-flex align-items-center justify-content-center">
        Player 2
      </div>
      <div class="col box d-flex align-items-center justify-content-center">
        Player 4
      </div>
    </div>
  </div>
  <!-- Scoring -->
  <div class="score-board mt-3">
    <div class="row">
      <div class="col team1">
        Player 1 & Player 2
      </div>
      <div class="col team2">
        Player 3 & Player 4
      </div>
    </div>
    <div class="row">
      <div class="col playerscore1">
        <input class="scoreinput" type="text" placeholder="Input Score">
      </div>
      <div class="col playerscore2">
        <input class="scoreinput" type="text" placeholder="Input Score">
      </div>
    </div>
    <div class="row mt-2">
      <div class="col startend-btn">
        <button class="startgame">Start</button>
      </div>
    </div>
  </div>

  <!-- Adding Player / Player List -->
   <div class="playerlist">
    <div class="row">
      <div class="col-sm-6 p-0">
        <div class="col playerinput input-group mt-3">
          <input class="inputplayer" type="text" placeholder="Input Player Name">
          <button class="addplayer">+</button>
        </div>
        <div class="col mt-2">
          <div class="playertable">
            <table class="playerListTable table">
            <thead class="theads">
              <tr>
                <th class="playernumber" >#</th>
                <th class="playername text-center">Player Name</th>
                <th class="playergame text-center">Game</th>
                <th class="playerwins text-center">Wins</th>
                <th class="playerlose text-center">Lose</th>
              </tr>
            </thead>
            <tbody class="tbodys">
              <tr>
                <th>1</th>
                <th class="text-center">Roger</th>
                <th class="text-center">5</th>
                <th class="text-center">3</th>
                <th class="text-center">2</th>
              </tr>
              <tr>
                <th>1</th>
                <th class="text-center">Roger</th>
                <th class="text-center">5</th>
                <th class="text-center">3</th>
                <th class="text-center">2</th>
              </tr>
              <tr>
                <th>1</th>
                <th class="text-center">Roger</th>
                <th class="text-center">5</th>
                <th class="text-center">3</th>
                <th class="text-center">2</th>
              </tr>
              <tr>
                <th>1</th>
                <th class="text-center">Roger</th>
                <th class="text-center">5</th>
                <th class="text-center">3</th>
                <th class="text-center">2</th>
              </tr>
              <tr>
                <th>1</th>
                <th class="text-center">Roger</th>
                <th class="text-center">5</th>
                <th class="text-center">3</th>
                <th class="text-center">2</th>
              </tr>
              <tr>
                <th>1</th>
                <th class="text-center">Roger</th>
                <th class="text-center">5</th>
                <th class="text-center">3</th>
                <th class="text-center">2</th>
              </tr>
              <tr>
                <th>1</th>
                <th class="text-center">Roger</th>
                <th class="text-center">5</th>
                <th class="text-center">3</th>
                <th class="text-center">2</th>
              </tr>
              <tr>
                <th>1</th>
                <th class="text-center">Roger</th>
                <th class="text-center">5</th>
                <th class="text-center">3</th>
                <th class="text-center">2</th>
              </tr>
              <tr>
                <th>1</th>
                <th class="text-center">Roger</th>
                <th class="text-center">5</th>
                <th class="text-center">3</th>
                <th class="text-center">2</th>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
       <div class="col-sm-6">

      </div>

    </div>
   </div>
</div>
<!-- footer -->
<div class="footered text-center mt-5 p-3">
  <p class="m-0">Created by: Roger Ando</p>
</div>

